# Feature Engineering - House Rocket Insights Project

## 0.0. IMPORTS

In [1]:
import math
import pandas  as pd
import numpy   as np
import seaborn as sns

from IPython.core.display  import HTML
from matplotlib            import pyplot as plt

## 0.1. Helper Functions

In [2]:
def jupyter_settings():
    %matplotlib inline
        
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = (20,8)
    plt.rcParams['font.size'] = 25
    
    display( HTML( '<style>.container { width:90% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    pd.set_option('display.float_format', lambda x: '%.3f' % x)
    
    sns.set()
    sns.set_theme(style = 'darkgrid', font_scale = 2)
    sns.set_style("darkgrid")
    sns.set(rc={'figure.figsize':(20,8)})

jupyter_settings()
    
def numerical_attributes(data):
    num_attributes = data.select_dtypes(include=['int64', 'float64'])
    
    # Central tendency = mean, median
    ct1 = pd.DataFrame(num_attributes.apply( np.mean) )
    ct2 = pd.DataFrame(num_attributes.apply( np.median) )

    # Dispersion = std, min, max, range, skew, kurtosis
    d1 = pd.DataFrame( num_attributes.apply( np.std ) )
    d2 = pd.DataFrame( num_attributes.apply( min ) )
    d3 = pd.DataFrame( num_attributes.apply( max ) )
    d4 = pd.DataFrame( num_attributes.apply( lambda x: x.max() - x.min() ) )
    d5 = pd.DataFrame( num_attributes.apply( lambda x: x.skew() ) )
    d6 = pd.DataFrame( num_attributes.apply( lambda x: x.kurtosis() ) )

    # Concatenate
    m = pd.concat( [d2, d3, ct1, ct2, d1, d5, d6], axis=1 ).reset_index()
    m.columns = ['attributes', 'min', 'max', 'mean', 'median', 'std', 'skew', 'kurtosis']

    return m

## 0.2. Loading Data

In [3]:
df_raw = pd.read_csv('../datasets/transformed_data.csv', low_memory=False)

In [4]:
df1 = df_raw.copy()

In [5]:
df1.head().T

                        0           1           2           3           4
id             7129300520  6414100192  5631500400  2487200875  1954400510
date           2014-10-13  2014-12-09  2015-02-25  2014-12-09  2015-02-18
price          221900.000  538000.000  180000.000  604000.000  510000.000
bedrooms                3           3           2           4           3
bathrooms           1.000       2.250       1.000       3.000       2.000
sqft_living          1180        2570         770        1960        1680
sqft_lot             5650        7242       10000        5000        8080
floors              1.000       2.000       1.000       1.000       1.000
waterfront              0           0           0           0           0
view                    0           0           0           0           0
condition               3           3           3           5           3
grade                   7           7           6           7           8
sqft_above           1180        2170         770        1050        1680
sqft_basement           0         400           0         910           0
yr_built             1955        1951        1933        1965        1987
yr_renovated            0        1991           0           0           0
zipcode             98178       98125       98028       98136       98074
lat                47.511      47.721      47.738      47.521      47.617
long             -122.257    -122.319    -122.233    -122.393    -122.045
sqft_living15        1340        1690        2720        1360        1800
sqft_lot15           5650        7639        8062        5000        7503

## 2.0. FEATURE ENGINEERING

In [6]:
# Creating a column 'price_median'
aux1 = df1[['zipcode','price']].groupby('zipcode').median().reset_index()
aux1.columns = ['zipcode','price_median']
df2 = pd.merge(df1, aux1, on='zipcode', how='inner')

In [7]:
# Creating a column 'size' according to living room size in squarefeet
df2['size'] = df2['sqft_living'].apply(lambda x: 'tiny' if x < 1427 else
                                               'small' if (x > 1427) & (x < 1910) else
                                               'medium' if (x > 1910) & (x < 2550) else 'large')

In [8]:
# Creating a column 'old' if the property was built before 1965
df2['old'] = df2['yr_built'].apply(lambda x: 'yes' if x < 1965 else 'no')

In [24]:
# Creating a column 'buy' to check if the house is able to buy or not
df2['buy?'] = None

df2.loc[1,'condition']

for i in range (len(df2)):
    if (df2.loc[i,'price'] < df2.loc[i,'price_median']) & (df2.loc[i,'condition'] > 2):
        df2.loc[i,'buy?'] = 'yes'
    else:
        df2.loc[i,'buy?'] = 'no'

In [27]:
# Checking the new features
df2.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
price_median     float64
size              object
old               object
buy?              object
dtype: object

## 2.1. Hypothesis List

**1.** Houses with no waterfront view are 30% cheaper on average.

**2.** Houses built before 1965 are 50% cheaper on average.

**3.** Houses without basement have lot size 40% bigger than houses with basement.

**4.** Related to the houses year of built, there is a price increase of 10% YoY.

**5.** Related to the date, houses with 3 bathrooms have a price increase of 15% MoM.

**6.** Houses which has more than 5 bedrooms are 25% more expensive on average, comparing by the same size.

**7.** Houses built before 1965 which were renovated are 60% more expensive than the houses not renovated from this period of time.

**8.** Houses on zipcode that has the biggest median of prices are responsible for 70% of profits.

**9.** Houses on zipcode that has the biggest median of prices correspond to 5% of the houses on sale.

**10.** Houses renovated in the last 10 years are 50% more valuable than the ones which had renovated 10-20 years before 2015.

## ## Saving Dataset

In [28]:
df2.to_csv( path_or_buf= '../datasets/transformed_data_2.csv', index=False )